* 
    margin: 0
    padding: 0

body 
    font-family: Graphik, Sans Serif
    color: #fff

.content
    max-width: 1600px
    margin: 0 auto
    border: 1px solid white

.header
    height: 1235px
    background: #181818
    background-image: url("img/header_bg.png")
    background-repeat: no-repeat
    background-position: bottom

.nav
    min-height: 107px
    &__flex
        display: flex
        justify-content: space-around
        align-items: center
        height: 107px
    &__menu
        height: 30px
        width: 30px
        margin-right: 15px
        background-color: #fff
    
.logo
    margin-left: 24px
    &__img
        width: 206px

.login
    &__link
        padding: 12px 20px
        border: 1px solid #FFFFFF
        font-size: 17px
        display: inline-block

.header__text 
    margin-top: 80px
    display: flex
    justify-content: center
    text-align: center
    &__flex
        width: 400px
        display: flex
        flex-direction: column
        align-items: center
    &__h2
        width: 300px
        font-weight: normal
        font-size: 52px
        line-height: 62px
    &__p
        margin-top: 17px
        font-weight: normal
        font-size: 20px
        lighting-color: 0.2
        padding: 10px
        line-height: 30px

.header__button
    margin-top: 143px
    &__flex
        display: flex
        flex-direction: column
        align-items: center

.header__btn
    padding: 20px 40px
    text-decoration: none
    color: #fff
    font-weight: 500;
    font-size: 17px;
    display: inline-block
    &__blue
        background: #4452FE
        margin-bottom: 21px
    &__white
        border: 1px solid white

.futures
    background: #181818
    //height: 1414px
    display: flex
    justify-content: center
    &__conteiner
       max-width: 450px
       padding-top: 100px
       padding-left: 50px
       padding-right: 50px
    &__text
        text-align: center
        margin-top: 62px
        &__h2
            font-size: 52px
            line-height: 62px
            letter-spacing: 0.2px
            font-weight: normal
            margin-bottom: 27px
        &__p
            font-size: 20px
            line-height: 30px
            letter-spacing: 0.2px
            padding-left: 13px
            padding-right: 13px
    &__about
        padding-top: 27px
        padding-left: 30px
        padding-right: 30px
        margin-bottom: 62px
        &__img
            background-image: url(img/fuftures_img2.png)
            background-repeat: no-repeat
            background-position: center
            background-size: contain
            max-width: 376px
            height: 406px
        &__conteiner
        &__text
            margin: 20px
            &__title
                display: flex
                align-items: center
            &__h3
                font-style: normal
                font-weight: 500
                font-size: 20px
                line-height: 30px
                letter-spacing: 0.1px
                margin-left: 10px
                max-width: 173px
                padding: 10px
            &__p
                font-weight: normal
                font-size: 16px
                line-height: 24px
                letter-spacing: 0.2px
                padding: 10px

.contents
    background: #181818
    padding-top: 50px
    &__flex
        display: flex
        flex-direction: column
        align-items: center
    &__text
        text-align: center
        max-width: 308px
        margin-bottom: 44px
        &__h2
            font-weight: normal
            font-size: 52px
            margin-bottom: 20px
        &__p
            font-size: 20px
            line-height: 30px
            padding: 10px
    &__items
        margin-bottom: 150px
    &__card
        background-color: #fff
        max-width: 348px
        border-radius: 10px
        display: flex
        align-items: center
        flex-direction: column
        margin-bottom: 33px
        &__h3
            font-weight: 500
            font-size: 20px
            color: black
            padding-top: 40px
        &__p
            font-weight: normal
            font-size: 16px
            line-height: 24px
            color: black
            margin-top: 20px
            margin-bottom: 57px
            padding-left: 40px
            padding-right: 40px
            text-align: center
        &__link
            text-decoration: none
            background: #4452FE
            padding: 13px 36px
            color: white
            font-weight: 500
            font-size: 17px
            display: inline-block
            margin-bottom: 57px
        &__img
            padding-bottom: 40px

.gallery
    background: #181818
    &__flex
        display: flex
        flex-direction: column
        align-items: center
    &__text
        text-align: center
        max-width: 308px
        margin-bottom: 44px
        &__h2
            font-weight: normal
            font-size: 52px
            margin-bottom: 20px
        &__p
            font-size: 20px
            line-height: 30px
            padding: 10px
    &__gallery
        p
            text-align: center
    &__img
        width: 323px
        padding-bottom: 33px
    &__link
        font-weight: 500
        font-size: 17px
        text-decoration: none
        padding: 13px 40px
        display: inline-block
        color: white
        border: 1px solid white
        margin-bottom: 50px

.partners
    background: #181818
    padding-top: 160px
    &__flex
        display: flex
        flex-direction: column
        align-items: center
    &__text
        text-align: center
        max-width: 308px
        margin-bottom: 50px
        &__h2
            font-weight: normal
            font-size: 52px
            margin-bottom: 20px
        &__p
            font-size: 20px
            line-height: 30px
            padding: 10px
    &__gallery
        width: 280px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__link
        margin-right: 50px
        padding-bottom: 50px
        display: inline-block
        &__a
            font-weight: 500
            font-size: 17px
            text-decoration: none
            padding: 13px 40px
            display: inline-block
            color: white
            border: 1px solid white
            margin-bottom: 50px
        &:nth-child(3n+3)
            margin-right: 0
    &__img
        height: 60px
        &:last-child
            height: 33px 
