* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Graphik, Sans Serif;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  height: 1200px;
  background: #181818;
  background-image: url(img/header_bg2.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__box {
  max-width: 402px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 57px;
  margin-top: 57px;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__button-blue {
  background: #4452FE;
  margin-bottom: 20px;
  -webkit-transition: background 0.5s, color 0.5s;
  transition: background 0.5s, color 0.5s;
}

.header__button-blue:hover {
  background: #0413b3;
}

.header__button-white {
  border: 1px solid white;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.header__button-white:hover {
  background-color: #868686;
  color: #303030;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 24px;
}

.nav__logo {
  height: 58px;
}

.nav__login {
  font-weight: 500;
  font-size: 17px;
  padding: 10px 30px;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.nav__menu {
  height: 26px;
  width: 44px;
  background-color: #fff;
}

.section__title {
  font-size: 52px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.2px;
  margin-bottom: 27px;
  margin-left: 20px;
  margin-right: 20px;
}

.section__text {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.btn_40 {
  padding: 20px 40px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
}

.futures {
  background: #181818;
}

.futures__content {
  padding-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.futures__header {
  margin-bottom: 27px;
  max-width: 430px;
}

.futures__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.futures__about__img {
  width: 365px;
  height: 406px;
  margin-bottom: 47px;
  /** img[alt="futures"]
                width : 100% **/
}

.futures__about__img__images {
  width: 100%;
  height: 100%;
  background-image: url(img/futures_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.futures__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.futures__items__size {
  width: 270px;
}

.futures__items__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  width: 204px;
}

.futures__items__header__p {
  font-size: 20px;
  line-height: 30px;
  margin-left: 13px;
}

.futures__items__text__p {
  font-size: 16px;
}

.contents {
  padding-top: 150px;
  background: #181818;
}

.contents__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.contents__header {
  max-width: 308px;
  margin-bottom: 44px;
}

.contents__item {
  width: 348px;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  margin-top: 33px;
}

.contents__item__text {
  width: 288px;
  margin-bottom: 57px;
}

.contents__item__block {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents__item_h3 {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  margin-bottom: 30px;
}

.contents__item_p {
  font-size: 16px;
  color: #5C5C5C;
  margin: 10px;
}

.contents__item__btn {
  margin-bottom: 57px;
}

.contents__item__img {
  max-width: 297px;
}

.contents__item__img img[alt="contents__img"] {
  max-width: 100%;
}

.btn__46 {
  padding: 13px 46px;
  background: #4452FE;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  display: inline-block;
}

.gallery {
  background: #181818;
  text-align: center;
  padding-top: 150px;
}

.gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__header {
  margin-bottom: 44px;
  max-width: 400px;
}

.gallery__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__img {
  width: 322px;
  margin-bottom: 33px;
}

.gallery__img-none {
  display: none;
}

.partners {
  background: #181818;
  padding-top: 150px;
  text-align: center;
}

.partners__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__header {
  margin-bottom: 44px;
  margin-bottom: 50px;
  max-width: 349px;
}

.partners__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 313px;
  margin-bottom: 50px;
}

.partners__img {
  height: 60px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.partners__img:nth-child(3n) {
  margin-right: 0;
}

.partners__img:last-child {
  width: 83px;
}

.testemonials {
  background: #181818;
  padding-top: 150px;
  text-align: center;
  padding-bottom: 100px;
}

.testemonials__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testemonials .feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testemonials .feedback__items {
  border: 1px solid #565656;
  border-radius: 10px;
  width: 352px;
  margin-bottom: 23px;
}

.testemonials .items__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.testemonials .items__header img {
  margin-right: 23px;
}

.testemonials .items__header .items__text-p {
  font-size: 20px;
}

.testemonials .items__text {
  font-size: 20px;
  margin-left: 40px;
  margin-bottom: 40px;
  text-align: left;
}

.opentype {
  padding-top: 104px;
  text-align: center;
  background-color: #1E1E1E;
  padding-bottom: 100px;
}

.opentype__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opentype__btn {
  margin-bottom: 100px;
}

.opentype__item-1 {
  width: 385px;
}

.opentype__item-2 {
  width: 420px;
  height: 383px;
  background-image: url(img/opentype.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer {
  padding-top: 104px;
  background-color: #1E1E1E;
  padding-bottom: 100px;
  padding-left: 40px;
}

.footer__link {
  text-decoration: none;
  color: #fff;
}

.footer__elem {
  padding-bottom: 50px;
  width: 99px;
  margin-right: 40px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__nav__title {
  font-size: 20px;
  padding-bottom: 30px;
}

.footer__nav__elem {
  font-size: 16px;
  padding-bottom: 20px;
}

.footer .contacts__flex .map__link img[alt="map"] {
  margin-right: 10px;
}

.footer .contacts__flex .phone img[alt="phone"] {
  margin-right: 10px;
}

.footer .contacts__flex .social__elem {
  margin-right: 27px;
}

.footer .contacts__flex .map__link, .footer .contacts__flex .phone, .footer .contacts__flex .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 375px) {
  .nav__login-none {
    display: none;
  }
  .section__title {
    font-size: 30px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .section__text {
    font-size: 16px;
    line-height: 24px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .futures__about__img {
    width: 300px;
    height: 300px;
  }
  .contents__item {
    width: 300px;
  }
  .gallery__img-none {
    display: none;
  }
  .testemonials .feedback__items {
    width: 280px;
  }
  .testemonials .items__header {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .testemonials .items__header .items__text-p {
    font-size: 14px;
  }
  .testemonials .items__text {
    font-size: 14px;
    margin-left: 20px;
    text-align: left;
    margin-bottom: 20px;
  }
  .opentype__item-1 {
    width: 282px;
  }
  .opentype__item-2 {
    width: 300px;
    height: 383px;
  }
  .footer__elem {
    padding-bottom: 30px;
  }
  .footer__nav__title {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .footer__nav__elem {
    font-size: 16px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1080px) {
  .header {
    background-image: url(img/header_bg_big.png);
    height: 1675px;
  }
  .header__box {
    max-width: 729px;
  }
  .header__btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__button-blue {
    margin-bottom: 0;
    margin-right: 35px;
  }
  .section__title {
    font-weight: 500;
    font-size: 80px;
    line-height: 88px;
    font-weight: normal;
  }
  .section__text {
    font-size: 26px;
    line-height: 36px;
  }
  .futures__header {
    min-width: 602px;
  }
  .futures__about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .futures__about__img {
    width: 725px;
    height: 759px;
    margin-bottom: 47px;
  }
  .futures__right {
    margin-left: 47px;
  }
  .futures__items__size {
    width: 300px;
  }
  .futures__items__header {
    width: 260px;
  }
  .futures__items__header__p {
    font-size: 26px;
    line-height: 36px;
  }
  .futures__items__text__p {
    font-size: 26px;
    line-height: 36px;
  }
  .futures__about__img__images {
    background-image: url(img/futures_img_big.png);
    background-position: center center;
    background-size: cover;
  }
  .futures__about__img__images__items__size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contents__header {
    max-width: 602px;
  }
  .contents__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contents__item {
    margin-right: 35px;
    width: 476px;
  }
  .contents__item:last-child {
    margin-right: 0;
  }
  .gallery__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .gallery__header {
    max-width: 602px;
  }
  .gallery__img {
    margin-right: 44px;
    margin-bottom: 44px;
  }
  .gallery__img:nth-child(3n) {
    margin-right: 0;
  }
  .gallery__img-none {
    display: block;
  }
  .partners__header {
    max-width: 602px;
  }
  .partners__image {
    width: 100%;
    max-width: 831px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .partners__img {
    margin-right: 0;
  }
  .testemonials .feedback__items {
    margin-right: 23px;
  }
  .opentype__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #343434;
    border-radius: 33px;
    width: 1100px;
  }
  .opentype__item-1 {
    width: 580px;
  }
  .opentype__item-2 {
    width: 580px;
    height: 383px;
  }
  .opentype__btn {
    margin-bottom: 0;
  }
  .footer {
    padding-top: 104px;
    background-color: #1E1E1E;
    padding-bottom: 100px;
  }
  .footer__nav__title {
    font-size: 28px;
  }
  .footer__nav__elem {
    font-size: 18px;
  }
}
/*# sourceMappingURL=sytyle.css.map */