* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Graphik, Sans Serif;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  height: 1200px;
  background: #181818;
  background-image: url(img/header_bg2.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__box {
  max-width: 402px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 57px;
  margin-top: 57px;
}

.header__button-blue {
  background: #4452FE;
  margin-bottom: 20px;
  -webkit-transition: background 0.5s, color 0.5s;
  transition: background 0.5s, color 0.5s;
}

.header__button-blue:hover {
  background: #0413b3;
}

.header__button-white {
  border: 1px solid white;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.header__button-white:hover {
  background-color: #868686;
  color: #303030;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 24px;
}

.nav__logo {
  height: 58px;
}

.nav__login {
  font-weight: 500;
  font-size: 17px;
  padding: 10px 30px;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.nav__menu {
  height: 26px;
  width: 44px;
  background-color: #fff;
}

.section__title {
  font-size: 52px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.2px;
  margin-bottom: 27px;
}

.section__text {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}

.btn_40 {
  padding: 20px 40px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
}

.futures {
  background: #181818;
}

.futures__content {
  padding-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.futures__header {
  margin-bottom: 27px;
  max-width: 430px;
}

.futures__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.futures__about__img {
  max-width: 365px;
  margin-bottom: 47px;
}

.futures__about__img img[alt="futures"] {
  width: 100%;
}

.futures__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.futures__items__size {
  max-width: 270px;
}

.futures__items__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  max-width: 204px;
}

.futures__items__header__p {
  font-size: 20px;
  line-height: 30px;
  margin-left: 13px;
}

.futures__items__text__p {
  font-size: 16px;
}

@media screen and (max-width: 375px) {
  .nav__login-none {
    display: none;
  }
  .section__title {
    font-size: 30px;
  }
  .section__text {
    font-size: 16px;
    line-height: 24px;
  }
}
/*# sourceMappingURL=sytyle.css.map */