*
    margin: 0
    padding: 0

body
    font-family: Graphik, Sans Serif
    color: #fff

.container
    max-width: 1100px
    margin: 0 auto

.header
    height: 1200px
    background: #181818
    background-image: url(img/header_bg2.png)
    background-repeat: no-repeat
    background-position: bottom
    &__content
        display: flex
        align-items: center
        flex-direction: column
    &__box
        max-width: 402px
        margin-right: 20px
        margin-left: 20px
        margin-bottom: 57px
        margin-top: 57px
    &__btn
        display: flex
        align-items: center
        flex-direction: column
    &__button-blue
        background: #4452FE
        margin-bottom: 20px
        transition: background 0.5s, color 0.5s
        &:hover
           background: #0413b3 
    &__button-white
        border: 1px solid white
        transition: background 1s
        &:hover
            background-color: #868686
            color: #303030

.nav
    display: flex
    align-items: center
    justify-content: space-around
    padding: 24px
    &__logo
        height: 58px
    &__login
        font-weight: 500
        font-size: 17px
        padding: 10px 30px
        border: 1px solid #fff
        color: #fff
        display: inline-block
        text-decoration: none
    &__menu
        height: 26px
        width: 44px
        background-color: #fff

.section__title
    font-size: 52px
    font-weight: normal
    text-align: center
    letter-spacing: 0.2px
    margin-bottom: 27px
    margin-left: 20px
    margin-right: 20px
.section__text
    font-weight: normal
    font-size: 20px
    text-align: center
    margin-left: 20px
    margin-right: 20px

.btn_40
    padding: 20px 40px
    text-decoration: none
    display: inline-block
    color: #fff
    font-weight: 500
    font-size: 17px

.futures
    background: #181818
    &__content
        padding-top: 160px
        display: flex
        align-items: center
        flex-direction: column
    &__header
        margin-bottom: 27px
        max-width: 430px
    &__about
        display: flex
        align-items: center
        flex-direction: column
        &__img
            width: 365px
            height: 406px
            margin-bottom: 47px
            &__images
                width: 100%
                height: 100%
                background-image: url(img/futures_img.png)
                background-repeat: no-repeat
                background-position: center
                background-size: cover
            /** img[alt="futures"]
                width : 100% **/
    &__items
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 35px
        &__size
            width: 270px
        &__header
           display: flex
           align-items: center
           margin-bottom: 20px
           width: 204px
           &__p
               font-size: 20px
               line-height: 30px
               margin-left: 13px
        &__text
            &__p
                font-size: 16px

.contents
    padding-top: 150px
    background: #181818
    &__content
        display: flex
        flex-direction: column
        align-items: center
        padding-bottom: 50px
    &__header
        max-width: 308px
        margin-bottom: 44px
    &__item
        width: 348px
        background: #FFFFFF
        border: 1px solid #D3D3D3
        border-radius: 10px
        margin-top: 33px
        &__text
            width: 288px
            margin-bottom: 57px
        &__block
            text-align: center
            margin-top: 40px
            margin-bottom: 57px
            display: flex
            flex-direction: column
            align-items: center
        &_h3
            font-weight: 500
            font-size: 20px
            color: #000
            margin-bottom: 30px
        &_p
            font-size: 16px
            color: #5C5C5C
            margin: 10px
        &__btn
            margin-bottom: 57px
        &__img
            max-width: 297px
            img[alt="contents__img"]
                max-width: 100%

.btn__46
    padding: 13px 46px
    background: #4452FE
    color: #fff
    font-size: 17px
    text-decoration: none
    display: inline-block

.gallery
    background: #181818
    text-align: center
    padding-top: 150px  
    &__content
        display: flex
        flex-direction: column
        align-items: center
    &__header
        margin-bottom: 44px
        max-width: 400px
    &__gallery
        display: flex
        justify-content: center
        flex-wrap: wrap
    &__img
        width: 322px
        margin-bottom: 33px
        &-none
            display: none

.partners
    background: #181818
    padding-top: 150px
    text-align: center
    &__content
        display: flex
        flex-direction: column
        align-items: center
    &__header
        margin-bottom: 44px
        margin-bottom: 50px
        max-width: 349px
    &__image
        display: flex
        flex-wrap: wrap
        width: 313px
        margin-bottom: 50px
    &__img
        height: 60px
        margin-right: 50px
        margin-bottom: 50px
        &:nth-child(3n +3)
            margin-right: 0
        &:last-child
            width: 83px

@media screen and ( max-width: 375px )
    .nav__login-none
        display: none

    .section__title
        font-size: 30px
        margin-right: 15px
        margin-left: 15px

    .section__text
        font-size: 16px
        line-height: 24px
        margin-right: 15px
        margin-left: 15px

    .futures__about__img
        width: 300px
        height: 300px
    
    .contents__item
        width: 300px

    .gallery
        &__img-none
            display: none



@media screen and ( min-width: 550px )
    .container
        //width: 1100px
    .header
        background-image: url(img/header_bg_big.png)
        height: 1675px
        &__box
            max-width: 729px
        &__btn
            flex-direction: row
        &__button-blue
            margin-bottom: 0
            margin-right: 35px
    
    .section__title
        font-weight: 500
        font-size: 80px
        line-height: 88px
        font-weight: normal

    .section__text
        font-size: 26px
        line-height: 36px
    
    .futures
        &__content
        &__header
            min-width: 602px
        &__about
            flex-direction: row
            &__img
                width: 725px
                height: 759px
                margin-bottom: 47px
        &__right
            margin-left: 47px
        &__items
            &__size
                width: 300px
            &__header
                width: 260px
            &__header__p
                font-size: 26px
                line-height: 36px
            &__text__p
                font-size: 26px
                line-height: 36px

    .futures__about__img__images
        background-image: url(img/futures_img_big.png)
        background-position: center center
        background-size: cover
                    
            
        &__items__size
            display: flex
            align-items: center
            flex-direction: column
            

    .contents
        &__content
        &__header
            max-width: 602px
        &__cards
            display: flex
            flex-direction: row
            justify-content: space-around
        &__item
            margin-right: 35px
            width: 476px
            &:last-child
                margin-right: 0
            
    .gallery
        &__header
            max-width: 602px
        &__img
            margin-right: 44px
            margin-bottom: 44px
        &__img-none
            display: block
    
    .partners
        &__content
            
        &__header
            max-width: 602px
        &__image
            width: 100%
            max-width: 831px
            justify-content: space-between
        &__img
            margin-right: 0